<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>

    <form action="/processAdminGPA" method="POST">
        <strong>GPA: </strong><input type="text" name="gpa">
        <br>
        <input type="submit" value="Submit Request">
    </form>

    <hr>
    <a href="/">HOME</a>
</body>

</html>
