<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />

</head>
<body>
    <h1>Removing All Applicants</h1>
    
    <form action="/processAdminRemove" method="POST">
        <input type="submit" value="Remove all applicants">
        <hr>
        <a href="/">HOME</a>
    </form>
</body>

</html>
