<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Removal of All Applications</h1>
    
    <p>All applications have been removed from the database. Number of applications removed: <%= deletedCount %></p>

    <a href="/">HOME</a>
</body>

</html>
